* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
header {
  background-color: rgb(101, 107, 8);
  text-align: center;
  color: white;
  padding: 30px;
}
.container {
  background-color: rgb(196, 212, 104);
}
.rodape {
  background-color: rgb(101, 107, 8);
  padding: 14px;
}
footer {
display: auto;    
}

main {
  font-size: 30px;
  min-height: 80vh;
}
